<div id="listOfLessons">
    <div class="row">
        <div class="column">
            <span><a href ="/lesson/1">Literals</a></span>
            <span><a href ="/lesson/2">Alternations</a></span>
            <span><a href ="/lesson/3">Grouping</a></span>

        </div>
    </div>
    <div class="row">
        <div class="column">
            <span><a href ="/lesson/4">Anchors</a></span>
            <span><a href ="/lesson/5">Character Sets</a></span>
            <span><a href ="/lesson/6">Wildcards</a></span>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <span><a href ="/lesson/7">Ranges</a></span>
            <span><a href ="/lesson/8">Quantifiers</a></span>
            <span><a href ="/lesson/9">Kleene +</a></span>
        </div>
    </div>
</div>