<div class="lessonFlex">
    <div class="row">
        <div class="column">
            <span>Lesson 1</span>
            <span>Lesson 2</span>
            <span>Lesson 3</span>

        </div>
    </div>
    <div class="row">
        <div class="column">
            <span>Lesson 4</span>
            <span>Lesson 5</span>
            <span>Lesson 6</span>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <span>Lesson 7</span>
            <span>Lesson 8</span>
            <span>Lesson 9</span>
        </div>
    </div>
</div>