header{
    padding-bottom: 0px;
}

main{
    display: flex;
    flex-direction: row;
}

#listOfLessons{
    display: grid;
    grid-gap: 1px;
    width: max-content;
    max-height: max-content;
    grid-template-columns: repeat(1, 3fr);
}

.lessonContainer{
    background-color: grey;
    max-width: 10em;
    height: 41em;
}

.lessonTitle{
border: black 15px solid;
justify-content: center;
align-items: center;
}

.list-group{
    max-width: max-content;
    padding-left: 10px;
    margin: 10px;
    padding: 10px;
}


.column{
    display: flex;
}

.column span{
    border: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;  
    
}

.hidden{
    display: none;
}